site/
venv/
docs/notes.code-workspace
docs/kvm/amazon-linux-2/config/seed.iso
docs/kvm/config/meta-data
*.swp
public
.obsidian/plugins*
.obsidian/daily-notes.json
.obsidian/bookmarks.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins-migration.json
.obsidian/obsidian-selective-sync-excluded-folders.txt
.obsidian/starred.json
.aider*
.env
