# requirements.txt
#
# Some python pip files I install on my workstation

arepl          # Python pane runs your code as you type
cfn-lint       # Validate AWS CloudFormation yaml/json templates.
pretty-errors  # Prettifies Python exception output to make it legible.
ptpython       # Pretty repl
regex          # Builds in re from python standard library
requests       # HTTP client
